ENVIRONMENT=development
CORS_URLS=http://localhost:3000,http://localhost:7007
MONGO_URI=mongodb://localhost:27017/your-db-name

REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecretkey
JWT_EXPIRATION=3600s
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your-email@gmail.com
MAIL_PASS=your-app-password
MAIL_FROM=your-email@gmail.com
PORT=3000

# Tally
TALLY_URL=http://localhost:9000

# Zoho
ZOHO_CLIENT_ID=your-client-id
ZOHO_CLIENT_SECRET=your-client-secret
ZOHO_REFRESH_TOKEN=your-refresh-token
ZOHO_INVENTORY_REFRESH_TOKEN=your-inventory-refresh-token

# S3 Storage
UPLOAD_METHOD=sso # or 'env'
AWS_ACCESS_KEY_ID=your-access-key # Required if UPLOAD_METHOD=env
AWS_SECRET_ACCESS_KEY=your-secret-key # Required if UPLOAD_METHOD=env
AWS_ENDPOINT=https://s3.ap-south-1.amazonaws.com
AWS_REGION=ap-south-1
S3_BUCKET=your-bucket-name

# Razorpay
PAYMENT_SERVICE=RAZORPAY
RAZORPAY_KEY_ID=your-razorpay-key-id
RAZORPAY_KEY_SECRET=your-razorpay-key-secret
